<div id="image_gallery">
	<div id="image_container">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>

			<div class="clearfix"></div>
		</ul>
	</div>

	<div id="cover">
		<a id="image_before">
			<span>装修前</span>
			<img class="arrow" src="../westwood/media/images/generic/arrow_down.jpg" alt="westwood" />
			<img class="showcase" alt="westwood" />
		</a>

		<div id="control_wrapper">
			<div id="panel">
				<a id="prev"></a>
				<a id="play"></a>
				<a id="stop"></a>
				<a id="next"></a>
			</div>

			<a id="thumbnail">查看所有图片</a>
			
		</div>
	</div>

	<div id="showall">
		<div id="sidebar">
			<span>缩略图</span>

			<ul>
				<li><a class="list-active">厨房</a></li>
				<li><a>卫生间</a></li>
				<li><a>其它房间</a></li>
				<li><a>窗户 + 平台</a></li>
				<li><a>房屋装饰</a></li>
			</ul>

			<a id="close_showall"></a>

			<div class="clearfix"></div>
		</div>

		<div class="thumbnail">

		</div>
	</div>
</div>

<div id="sidebar">
	<span>业务详情</span>

	<ul>
		<li><a class="folio-list-active">厨房</a></li>
		<li><a>卫生间</a></li>
		<li><a>其它房间</a></li>
		<li><a>窗户 + 平台</a></li>
		<li><a>房屋装饰</a></li>
	</ul>

</div>
<div class="clearfix"></div>