<div id="logo_bar">
    <div class="logo_wrapper">
        <div class="logo_wrapper_left">Royal Pacific <span>Realty</span></div>
        <div class="logo_wrapper_right">
            <div class="contact_phone">+1(604)266-8989</div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div id="nav">
    <ul>
        <li><a href="">home</a></li>
        <li><a href="#listings">portfolio</a></li>
        <li><a href="#services">services</a></li>
        <li><a href="#about">about us</a></li>
        <li><a href="#contact">contacts</a></li>
        <li><a href="#admin">admin</a></li>
    </ul>
</div>
