<div id="logo_bar">
    <div class="logo_wrapper">
        <div class="logo_wrapper_left">Western wood<span>development LTD</span></div>
        <div class="logo_wrapper_right">
            <div class="contact_phone">+1(604)266-8989</div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div id="nav">
    <div class="translate_wrap">
        <ul>
            <li><a href="">首页</a></li>
            <li><a href="#listings">业务详情</a></li>
            <li><a href="#services">服务项目</a></li>
            <li><a href="#about">关于我们</a></li>
            <li><a href="#contact">联系我们</a></li>
            <!--li><a href="#admin">管理</a></li-->
        </ul>

        <div id="google_translate_element"></div>
        <div class="clearfix"></div>
    </div>
</div>