<div id="about_image">
    <img src="../westwood/media/images/test/about_image.jpg" alt="westwood" />
</div>

<div id="about_main">
    <section id="about_des">
        <h3></h3>

        <div id="about_context"></div>
    </section>

    <div id="about_sidebar">
        <p>About Us</p>
        
        <ul>
            <li><a class="list-active">Company</a></li>
            <li><a>Vision</li></a>
            <li><a>Buiding Green</li></a>
            <li><a>Awards</li></a>
            <li><a>History</li></a>
            <li><a>Team</li></a>
        </ul>
    </div>

    <div class="clearfix"></div>
</div>

