<div id="about_company">
    <h4>公司简介</h4>

    <img src="../media/images/test/image15.png" alt="about image" />

    <p>Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, loremest donec sagittis euismod purus.
    nteger dapibus est porttitor lorem pretium nons it tempus ligula feugiat. Sed libero ligula, cursus isollici-tudin sit amet, auctor in sem.habitant morbi tristique senectus et netus et malesuada fames ac turpis eges-tas. Vivamus euismod felis nec dui accumsan iaculis. Nunc aliquet sagittis risus, at porta lacus mollis vitae. Praesent tellus dui, pulvinar quis mattis vitae, feugiat ut erat. Morbi sollicitudin nulla a urna.Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, loremest donec sagittis euismod purus.
    nteger dapibus est porttitor lorem pretium nons it tempus ligula feugiat. Sed libero ligula, cursus isollici-tudin sit amet, auctor in sem.habitant morbi tristique senectus et netus et malesuada fames ac turpis eges-tas. Vivamus euismod felis nec dui accumsan iaculis. Nunc aliquet sagittis risus, at porta lacus mollis vitae. Praesent tellus dui, pulvinar quis mattis vitae, feugiat ut erat. Morbi sollicitudin nulla a urna.
    </p>
    
    <hr>
</div>

<div id="awards">
    <h4>荣获奖项</h4>

    <div class="awards_wrap">
        <img src="../media/images/generic/medal_cup.jpg" alt="medal cup" />
        <p>怡富地产2012总裁大奖</p>
        <div class="clearfix"></div>
    </div>

    <div class="awards_wrap" id="last_award">
        <img src="../media/images/generic/medal.jpg" alt="medal cup" />
        <p>怡富地产2012总裁大奖</p>
        <div class="clearfix"></div>
    </div>

    <hr>

    <div class="advantage">
        <h4>服务优势</h4>

        <ul>
            <li>Aenean nonummyendrerit maurie</li>
            <li>Fusce suscipit varius mi</li>
            <li>Cum sociis natoque penatibu</li>
            <li>Duis ultricies pharetrdipiscing elitu</li>
            <li>Sed laoreet aliquam leo</li>
        </ul>
    </div>

    <hr>

    <div id="team">
        <h4>销售团队</h4>

        <div class="agent_wrap">
            <div class="agent_image">
                <img src="../media/images/generic/portrait.jpg" alt="portrait" />
            </div>
            
            <section>
                <h5>Jessica Jiang</h5>
                <p>Estate Agency</p>
            </section>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div id="faq">
    <h4>常见问答</h4>

    <section>
        <p><strong>1. What makes up my estate?</strong></p>
        <p class="answer">Securities,Real estate,Interest in a business,Personal property,Cash,Retirement plans and IRAs,
        Life insurance death benefits
        </p>

        <p><strong>2. Who needs estate planning?</strong></p>
        <p class="answer">ou work hard and carefully plan to meet your long-term financial objectives, such as financing and education, providing for your children, and saving for retirement.</p>

        <p><strong>3. What is a Testamentary Trust?</strong></p>
        <p class="answer">A Testamentary Trust is created in a will and is only valid after the probate process is completed. This trust does not address your incapacitation.</p>

        <p><strong></strong></p>
        <p class="answer"></p>
    </section>
</div>