<div id="about_image">
	<img src="../westwood/media/images/test/about_image.jpg" alt="westwood" />
</div>

<div id="about_des">
	<section>
		<h3>Westwood Construction</h3>

		<p>TQ Construction is a profssional home renovation company with a 30-year tradition of excellence in BC’s home improvement, renovation and construction industry. TQ stands for Top Quality. We are a complete service design/build team that includes engineers, designers, carpenters project managers and office staff who strive for exceptional quality in every renovation that we do. That’s why you can confidently trust TQ to deliver superior value and results, professional and personal service, as well as innovative liveability and sustainability solutions for your home.
		We work with our clients to design, and reinvent by adding and reusing materials. We transform vision into reality responsibly, and with skill, knowledge, expertise, and reliability. At TQ, we believe that a successful renovation isn’t simply about tearing down and starting over. It’s about retaining materials and labour which have value and history. It's about taking a home that’s already good and making it even better.</p>
	</section>
</div>

<div id="about_sidebar">

</div>