<div id="contacts_container">

    <div id="map_address">
        <h4>寻找地点</h4>

        <div id="contact_geo_map"></div>

        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean non-ummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.</p>

        <section class="contact_info">
            <p><strong>8901 Marmora Road,<br>Glasgow, D04 89GR.</strong></p>

            <label id="tel_label">办公电话:<span>+1 604.266.8989</span></label>
            <label>传真:<span>+1 604.266.8989</span></label>
            <label>电子邮箱:<span>caocao192@gail.com</span></label>
        </section>
    </div>

    <div id="contact_form"><h2>联系我们</h2></div>

    <div class="clearfix"></div>

</div>