<div id="search">
    <div id="search_wrap">
        <section class="search_submit">
            <input type="button" value="search" id="search_btn" />
        </section>
        <section class="search_submit">
            <input type="button" value="search all" id="search_all_btn" />
        </section>
    </div>
</div>
<div id="inventories_wrap">
    <div id="page_selection"></div>
    <div id="inventories_container_wraper">
        <div id="inventories_container"></div>
    </div>
</div>
<div id="map_canvas_wrap">
    <div id="map_canvas"></div>
</div>
