<div class="clearfix"></div>
<div id="footer_container">
    <div id="footer_wrap">
        <ul>
            <li class="footer_list" style="padding-left: 0px;"><a href="">首页</a></li>
            <li class="footer_list"><a href="#listings">业务详情</a></li>
            <li class="footer_list"><a href="#services">服务项目</a></li>
            <li class="footer_list"><a href="#about">关于我们</a></li>
            <li class="footer_list"><a href="#contact">联系我们</a></li>
            <div class="clearfix"></div>
        </ul>
        <div id="footer_aboutus">
            <div class="footer_aboutus_heading">关于我们</div>
            <div class="footer_aboutus_des">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra nec nisl ut imperdiet. Donec aliquet massa at quam auctor varius. Sed rutrum vestibulum scelerisque.
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra nec nisl ut imperdiet. Donec aliquet massa at quam auctor varius. Sed rutrum vestibulum scelerisque.
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra nec nisl ut imperdiet. Donec aliquet massa at quam auctor varius. Sed rutrum vestibulum scelerisque.
            </div>
        </div>

        <div id="footer_address">
            <h4>地址</h4>
            <div>8901 Marmora Road, Glasgow, D04 89GR.</div>
            <br>
            <div>办公电话:+1 604.266.8989</div>
            <br>
            <div>传真:+1 604.266.8989</div>
            <br>
            <div>电子邮箱:caocao192@gail.com</div>
        <div id="footer_social_media">
            <ul>
                <li class="skype"><a href="http://www.skype.com" target="_blank"></a></li>
                <li class="youtube"><a href="http://www.youtube.com" target="_blank"></a></li>
                <li class="twitter"><a href="http://www.twitter.com" target="_blank"></a></li>
                <li class="facebook"><a href="http://www.facebook.com" target="_blank"></a></li>
            </ul>
        </div>
        </div>
        <div id="footer_contact_form">
        </div>
        <div class="clearfix"></div>
        <div id="footer_copyright">
            Copyright &copy; 2014 designed and developed by Lemoncap(柠檬帽) Vancouver
        </div>
    </div>
<div>